<html lang='en'>
  <head>
    <title>{{team.name}}Backyard Sports Chatroom</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  
  <body>
    <p id="room-name"></p>
    <ul id="messages"></ul>

    <div class="users-container">
      <li id="users"></li>
    </div>

    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <script src='/js/chat.js'></script>
  </body>
</html>