<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome Back, {{{Username}}} !</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Enter your City, State to begin</h5>
        <input type="text" placeholder="Zipcode" class="search">
                <a href="#" class="btn btn-primary">Search</a>

        <p>Or</p>
        <input type="text" placeholder="City" class="search">
        <input type="text" placeholder="State" class="search">

        <a href="#" class="btn btn-primary">Search</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Most Recent Sports</h5>
        <p class="card-text"> Most Recent Sports in your area list
          <ul>
            <li></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<<<<<<< HEAD
=======
<div class="sportslist">List of available sports chat rooms populates for user to choose from</div>

{{> card}}
>>>>>>> origin/main
