<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome Back, {{{Username}}} !</h1>
  </div>
</div>
<div class="location">User Location - search by zip code/city

Options for radius
</div>
<div class="sportslist">List of available sports chat rooms populates for user to choose from</div>

{{> card}}