<html lang='en'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backyard Sports</title>
    <link rel="stylesheet" href="/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
</head>

<body>
    <h1 class="title">Backyard Sports</h1>

<nav>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
   {{#if logged_in}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
            <a class="nav-link" href="#">Login/Signup</a>

        {{/if}}
  </li>
  </li>
</ul>
</nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>





    <footer class="footer1">
      Contact Us! 
      <a href="#"> Facebook </a>
     <a href="#"> Instagram </a>
      <a href="#"> Email </a>
<br>
    </footer>
    <footer class="footer2">&copy; Backyard Sports 2023
</footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
