.card {
    margin: 20px;
    flex: 0 1 300px;
    padding: 5px;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
  }

.title{
    
    font-family:"Bungee", sans-serif;
display: flex;
justify-content: center;
align-items: center;
text-decoration: underline;
font-size: 56px;
color: black;
}

footer{
    background-color: #1a386a;
    color: white;
    text-align: center;
}
nav{
border: 2px;
}

.footer1, .footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    
    
}

.jumbotron.jumbotron-fluid{
    color: whitesmoke;
    text-align: center;

}

.search{
    margin: 5px;
    border-color: black;
}

.row{
    color: black;
    

}

.btn.btn-primary{
    color: black;
    border-color: black;
    border-width: 2px;
}

a:link {
    color: black;
}  

a:visited {
    color: black;
}

a:active {
    color: black;
}

.search-form-container {
    background: #475d62;
    background-size: cover;
    position: relative;
}

.search-form-container form {
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.search-form-container .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

.search-form-container form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

.search-form-container form .btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

.search-form-container form .btn-primary:hover,
.search-form-container form .btn-primary:active {
    background: #214a80;
    outline: none;
}

.search-form-container form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.search-form-container form .forgot:hover,
.search-form-container form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

.search-form-container form .btn-primary:active {
    transform: translateY(1px);
}

.search-form-container form select.form-control {
    color: gray;
}

.search-results-container .team-container {
    border: solid 1px gray;
}

* {
margin: 0 auto;
padding: auto;
}

header {
    border-bottom: 2px solid red;
    background-color: #1a386a;
    text-align: center;
}

.login-dark {
height: 1000px;
background: #475d62;
background-size: cover;
position: relative;
}

.login-dark form {
background-color: #1e2833;
padding: 40px;
border-radius: 4px;
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 50%;
color: #fff;
box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .illustration {
text-align: center;
padding: 15px 0 20px;
font-size: 100px;
color: #2980ef;
}

.login-dark form .form-control {
background: none;
border: none;
border-bottom: 1px solid #434a52;
border-radius: 0;
box-shadow: none;
outline: none;
color: inherit;
}

.login-dark form .btn-primary {
background: #214a80;
border: none;
border-radius: 4px;
padding: 11px;
box-shadow: none;
margin-top: 26px;
text-shadow: none;
outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
background: #214a80;
outline: none;
}

.login-dark form .forgot {
display: block;
text-align: center;
font-size: 12px;
color: #6f7a85;
opacity: 0.9;
text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
opacity: 1;
text-decoration: none;
}

.login-dark form .btn-primary:active {
transform: translateY(1px);
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-container form {
    width: 400px;
}

@media screen and (max-width: 850px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    transition: all .5s;
    
}

main {
    background-image: url(/img/backgroundimg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.profile-head {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.profile-welcome {
padding: 50px;
font-size: 36px;
}

.info-box, .create-team-box, .create-sport-box, .all-teams-box {
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.name-box {
    background: none;
    border: 2px solid black;
    color: white;
    font-size: 18px;
    margin: 5px auto;
}

.team-btn {
    margin: 5px;
}

.box-header {
    border-bottom: 2px solid black;
}